* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: poppinsBold;
  src: url("./assets/fonts/Poppins-Bold.ttf");
}
@font-face {
  font-family: poppins;
  src: url("./assets/fonts/Poppins-Regular.ttf");
}
